/* Task 1: Hover Highlight Card */
.hover-highlight-card {
    padding: 20px;
}

.hover-highlight-card:hover {
    background-color: #cceafa
}
.hover-highlight-card:hover{
    box-shadow:10px 5px 5px #00aaff;
    transition: 0.5s
}

/* Task 2: Animated Navigation Menu */
.animated-nav-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.animated-nav-menu a {
    text-decoration: none;
    border-radius: 10%;
    padding: 4px;
    color: #00aaff;
    background-color: white;
}
.animated-nav-menu a:hover{
    background-color: #00aaff;
    transition: background-color 0.7s;
    color: white;
    transition: 0.5s
}

/* Task 3: Button Press Animation */
.button-press-animation button {
    padding: 10px 20px;
    border: none;
    background-color: #00aaff;
    color: white;
    cursor: pointer;
}
.button-press-animation button:active{
    box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
/* Task 4: Simple Loading Spinner */
.simple-loading-spinner .spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation-name: rotation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes rotation{
    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(360deg)
    }}
/* Task 5: Fading Gallery */
.fading-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.fading-gallery img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.fading-gallery img{
    opacity:0.5
}
.fading-gallery img:hover{
    opacity:1;
    transform: translateY(-10px) scale(1.3,1.3);
    box-shadow: 12px 12px 2px 1px gray;
    transition: 0.5s
}