h1{
    color: rgb(0,174,255)
}
h2 {
    color: rgb(245, 74, 74)
}
h3 {
    color: gray
}
a:link,
a:visited {
  color:rgb(0, 174, 255);
}

.skyblue {
  color: rgb(0,174,255)
}
img {
  border: solid rgb(245, 74, 74) 2px
}

