
h2 {

    color: rgb(0,174,255)
}
h3 {
    color: gray
}
a:link,
a:visited {
  color:rgb(0, 174, 255);
}

.skyblue {
  color: rgb(245,74,74)
}
img {
  border: solid rgb(245, 74, 74) 2px
}

.blueBackground {
  background-color: rgb(197, 237, 249)
}
.redBackground {
  background-color: rgb(250, 194, 194)
}